body {
    background: linear-gradient(90deg, rgb(68, 100, 181) 0%, rgb(68, 100, 181) 0%, rgb(68, 100, 181) 0%);

    background-size: 500% 500%;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    10% {background-position: 0% 50%;}
}
.form-control {
    font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
    border-color: #e1e1e1;
}
.form-control, .btn {
    border-radius: 1px;
}
.signup-form {
    width: 400px;
    margin: 0 auto;
    object-position: 50% 50%;
}

.signup-form form {
    color: #999;
    border-radius: 30px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
    font-family: Arvo;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 15px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}
.signup-form .btn, .signup-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #000000 !important;
    border: none;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #4c8da9 !important;
}
.signup-form a {
    color: rgba(255, 255, 255, 0.84);
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #0000ff;
    text-decoration: none;
}
.signup-form form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 21px;
}
.signup-form .fa-paper-plane {
    font-size: 18px;
}
.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}

#submit {
    background: none !important;
    color: white;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
}